.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 30px 0;

}

.navMenu {
    display: none;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.peopleImage {
    height: 44px;
    width: 44px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.menuCardContainer {
    display: flex;

    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;
}



.patientCard {
    display: flex;

}

.textContainer {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2E2E2E;
    padding: 0 12px 0 8px;
}

.infoTitleText {
    padding-bottom: 4px;
    color: #3F3E3E;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.infosText {
    display: flex;
    flex-direction: column;
}

.infosText {
    display: flex;
    flex-direction: column;
}

.infoText {
    padding-left: 4px;
    color: #717171;
}

.infosTextCard {
    display: flex;
    flex-direction: column;
}

.infoTextCard {
    display: flex;
    gap: 12px;
    color: #5C5C5C;
    font-weight: 590;
    font-style: Semibold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}



.listOfResultsText {
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #5C5C5C;
    display: flex;
    width: 100%;
    justify-content: end;
    padding-bottom: 12px;

}

.view-more-button {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 36px;
    align-items: center;
    color: #007D77;
    background-color: #CEEFEE;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s;

}

.view-more-button:hover {
    background-color: #06b6ae;
    color: white;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 71px;
    opacity: 1;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #AFEEEA;
    background-color: #E5F9F8;
    transition: background-color 0.3s ease;

    cursor: pointer;
}

.details.selected {
    transition: background-color 0.3s ease;
    background-color: #AFEEEA;
}

.patientInfos {
    display: flex;
    padding-bottom: 30px;
}

.iconPatientCard {
    padding-left: 24px;
}

.detailsText {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #575757;
}

.details-icon {
    cursor: pointer;
}


.showDetailsClass {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #747474;

    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 12px 16px 28px 12px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #ffffff;

    opacity: 0;
    transform: translateY(-20px);
    animation: slideDownFadeIn 0.3s ease forwards;

}

.showCIDClass {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #747474;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDownFadeIn 0.3s ease forwards;

}

.bodyModal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #747474;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDownFadeIn 0.3s ease forwards;

}

.details-wrapper {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Escondido */
.details-wrapper.closed {
    max-height: 0;
    opacity: 0;
}

/* Visível */
.details-wrapper.open {
    max-height: 500px;
    /* ou algo suficiente */
    opacity: 1;
}

@keyframes slideDownFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.showDetailsClassTextContainer {
    display: flex;
    flex-direction: column;

}

.showDetailsClassText {
    color: #444444;
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
    display: block;

}

.showDetailsRightCollumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}



.showDetailsLeftCollumn {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.menuCardContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #007D77;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.menuCardContainerProtocolos {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.menuCardContainerProtocolos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background-color: #007D77;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.protocoloTextInfo {
    display: flex;
    width: 100%;

}

.protocoloTextInfoCollum {
    display: flex;
    flex-direction: column;
    width: 100%;

}


.protocoloTextInfoSecondContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow: hidden;
    transition:
        max-height 0.4s ease-in-out,
        opacity 0.3s ease-in-out,
        padding 0.3s ease-in-out,
        margin 0.3s ease-in-out;
}

.protocoloTextInfoSecondContainer.closed {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}

.protocoloTextInfoSecondContainer.open {
    max-height: 500px;
    /* ou algo suficiente */
    opacity: 1;
    border-top: 1px solid #F0F0F0;
    padding-top: 20px;
    margin-top: 16px;

}


.infoTextCardTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #5C5C5C;

    font-weight: 590;
    font-style: Semibold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 4.5px;
}

.cardProtocoloInfo {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #747474;


}

.cardProtocoloInfoSecondContainer {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #747474;
    padding-top: 12px;

}

.cardProtocoloValue {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #444444;


}

.cardProtocoloValueLink {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #0B5CAB;


}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalCollumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 0;
}

.modal-container {
    background: white;
    border-radius: 20px;
    max-width: 343px;
    max-height: 60vh;
    top: 20px;
    overflow-y: auto;
    position: relative;
}

.modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00938C;
    padding: 16px;
}

.iconModalCircle {


    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #00938C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 0.5rem;

}

.iconModal {
    height: 16px;
}

.modalTitle {
    font-family: font/family/base;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #00938C;
    padding: 24px 16px 6px 16px;
}

.bodyModal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #747474;
    padding: 0 16px 0 16px;
    overflow-y: auto;
    flex: 1;

    padding: 0 16px;
}

.modal-footer {
    position: sticky;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0.9) 50%, transparent);
    padding: 12px 20px;
    box-shadow: 0 -12px 24px rgba(255, 255, 255, 0.95);
    z-index: 1;
}


.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    height: 13px;
    cursor: pointer;
}

.stateClassCompleted {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #017C77;
}


.stateClasspending {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #CA8501;

}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px 0;

}

.cardTitle {
    display: flex;
    font-weight: 590;
    font-style: Semibold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    color: #5C5C5C;
}

.cardText {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #575757;

}

.cardSubTitle {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-weight: 590;
    font-style: Semibold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #575757;
    padding-top: 8px;

}

.subCardHis {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    padding: 12px 0;
    border-top: 1px solid #F0F0F0;
    flex-direction: column;

}

.subCard {
    justify-content: flex-start;
    display: flex;
    padding: 12px 0;
    flex-direction: column;
}

.subCardBody {

    border-left: 1px solid #DFDFDF;
    padding-left: 12px;
}

.menusContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.navMenuItem {
    padding: 0 12px 8px 12px;
    gap: 12px;
    display: flex;
    text-wrap: nowrap;
    font-weight: 590;
    font-style: Semibold;
    line-height: 19px;
    letter-spacing: 0%;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s ease, color 0.2s ease;

}

.rotatedChevron {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
}

.navMenuItem.selected {
    border-bottom: 3px solid black;
    color: #08353D;
}

.navMenuItem:hover {
    border-bottom: 3px solid black;
    color: #08353D;

}

.details-icon-card-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
}

@media screen and (max-width: 768px) {
    .patientInfos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 14px;

    }

    .showDetailsRightCollumn {

        flex-direction: column;
        gap: 12px;

    }

    .modalCollumn {

        flex-direction: column;
        gap: 12px;

    }




}

@media screen and (min-width: 768px) {
    .showDetailsRightCollumn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .modalCollumn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menusContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        gap: 24px;
    }

    .iconDesktop {
        display: none;
    }

    .desktopChanges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-palette: center;
        width: 100%;
        align-items: center
    }

    .menuCardContainer {
        width: 100%;
        height: 156px;
        justify-content: center;
        align-items: center;


    }

    .details-icon-card {
        height: 30px;
    }

    .infoTextCard {
        font-size: 20px;
    }

    .navMenu {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #C9C9C9;
        margin: 24px 0;

    }

}