.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.action {
	margin: 1rem 0 0 1rem;
}

.slds-notify_toast, .slds-notify--toast { 
    min-width: unset !important;
}

.slds-notify-container, .slds-notify_container {
    z-index: unset !important;
}